.rounded-lg {
    border-radius: 1rem !important;
}
  
.text-small {
    font-size: 0.9rem !important;
}
  
.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}
  
.text-uppercase {
    letter-spacing: 0.2em;
}
body {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background: rgb(255, 255, 12);
    background: -webkit-linear-gradient(to right, #dfdfc3, #e0fa34);
    background: linear-gradient(to right, #e5ae06, #c3bd10);
    color: #514B64;
    min-height: 100vh;
}
/** BOUTON CONNEXION **/
.btncnx {
    font-family: "Raleway", serif;
    background-color: white;
    border-width: 5px;
    border-color: rgba(151, 5, 5, 0.893);
    color: rgb(151, 5, 5);
    font-weight: 700;
}
.btncnx:hover {
    background-color: rgb(102, 16, 33);
    border-color: rgb(102, 16, 33);
}
/** FIN BOUTON CONNEXION ***/
@media (max-width: 992px) {
    .trait {
        display: none;
    }
    .btncnx {
      width: 100%;
    }
}
.scificolor:hover {
    background-color: #02ec8e;
    color: black !important;
}
.dramacolor:hover {
    background-color: rgb(70, 159, 14);
}
.romancecolor:hover {
    background-color: rgb(39, 76, 200);
}
.nav-link {
    font-family: "Raleway", serif;
}
.nav-link:hover {
    font-weight: 700;
}
.actioncolor:hover {
    background-color: rgb(124, 17, 17);
}
.horrorcolor:hover {
    background-color: rgb(255, 165, 0);
}
.comediecolor:hover {
    background-color: yellow;
    color: black !important;
}
.navbar-custom {
    background-color: rgba(23, 23, 23, 0.786) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.hero{
    background-image: url(../img/snowfallfranklin.jpg);
    min-height: 100vh;
    background-size: cover;
    color: black;
    background-position: center;
}
.hero h1{
    background-color: rgb(255, 145, 0);
    border-style: solid;
    border-color: rgba(208, 255, 0, 0.4);
    border-radius: 5% 5% / 5% 5% ;
    margin: 7%;
    padding: 2.5%;
    font-family:"Mulish";
}
.hero button{
    margin-left: 47.2%;
    padding: 1%;
    font-family:"Mulish";
}
.container-image button{
    margin-left: 13%;
    align-items:center;
}
.container-image{
    background-color: rgba(188, 143, 10, 0.8);
    margin: 0.5%;
    padding: 0%;
}
.container-image p{
    border-style: double;
    align-items: center;
    text-align: center;
    font-family: "Raleway";
    font-size: small;
    font-weight: 900;
    background-color: #bdbd6f;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.icone svg{
    color: rgb(255, 99, 20);
    border-style: double;
    margin-left: 50%;
}
.icone p{
    color: rgb(255, 208, 0);
    text-align: center;
    font-weight: 800;
    font-family: "Raleway";
}
.panel img{
    border-radius: 40%;
}
.container-tuiles{
    background-color: rgb(255, 162, 0);
    background: linear-gradient(to right, #e7e280, #ffc800);
    margin: 0%;
    padding: 5%;
    border-style: outset;
}
.container-tuiles p{
    font-family: "Raleway";
    font-weight: bolder;
    color: #3d3535;
    border-style: double;
    text-align: center;
}
.container-tuiles button{
    margin-left: 28%;
    font-family:"Mulish";
    align-items: center;
    margin-bottom: 3%;
}
/** FOOTERRRR **/
.rsxx {
    color: #fff;
    font-size: 2rem;
}
.rsxx:hover {
    color: #d20b0b;
    font-size: 2rem;
}
.infoo {
    color: #fff;
    text-decoration: none;
}
.infoo:hover {
    color: #fff;
    text-decoration: underline #d20b0b 3px;
}
.contactt {
    color: #fff;
    text-decoration: none;
}
.contactt:hover {
    color: #fff;
    text-decoration: underline #d20b0b 3px;
}
/** FIN FOOTERRRR **/