:root{
	--dark-grey:hsl(120, 1%, 27%);
	--blue:hsl(220, 82%, 56%);
	--dark-blue:hsla(220, 82%, 49%, 1);
	--light-grey:hsl(175, 0%, 89%);
	--light-blue:hsl(203, 82%, 56%);
	--green:hsl(144, 43%, 82%);
	--dark-green:hsla(144, 43%, 76%, 1);
	--purple:hsl(280, 43%, 82%);
	--dark-purple:hsla(280, 43%, 71%, 1);
	--grey:hsl(0, 1%, 49%);
}
.contenu{
	font-family: roboto
}
body{
	margin:0rem;
}
.rayure-haut{
	z-index: 1;
	width: all;
	height: 60px;
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/stripe.png);
}
.rayure-parallax{
	z-index: 1;
	width: all;
	height: 20px;
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/stripe.png);
}
.bd-rayure-1{
	flex-wrap: nowrap;
	display: flex;
	justify-content: flex-end;
	background-color: var(--grey);
}
.bd-rayure-2{
	flex-wrap: nowrap;
	display: flex;
	justify-content: flex-end;
	background-color: var(--grey);
}
.bd-main{
		z-index: 1;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding-top: 5rem;
	background-color: var(--grey);
	padding-right: 0.2rem;
	font-size: 1.2rem;
}
.rayure-1{
	margin-top: 2rem;
	z-index: 1;
	width: 69.75%;
	height: 20px;
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/stripe-short.png);
}
.rayure-2{
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
	z-index: 1;
	width: 62%;
	height: 20px;
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/stripe-short.png);
}
.bd-title{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	margin-left: 1.5rem;
	color: white;
}
.t1{
	font-size: 2rem;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 5.5rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.bouton-nav, .bouton-nav-home, .bouton-nav-abt,.bouton-nav-contact, .bouton-nav-gallery{
	padding: 1.5rem;
	margin-left: 1.5rem;
	margin-right: 1rem;
	width: 4rem;
    height: 1.3rem;
    transform: skew(150deg);
    color: white;
    font-weight: normal;
    z-index: 1;
    text-decoration: none;
}
.bouton-nav-home{
	background-color: var(--dark-grey);
	z-index: 1;
}
.bouton-nav-abt{	
	background-color: var(--dark-grey);
	z-index: 1;
}
.bouton-nav-contact{
	z-index: 1;
	background-color: var(--dark-grey);
}
.bouton-nav-gallery{
	z-index: 1;
	background-color: var(--dark-grey);
}
.bouton-nav:hover{
	background-color: var(--dark-grey);
	z-index: 1;

}
.bouton-angle{
	transform: skew(-150deg);
}
.parallax-contact, .parallax-index, .parallax-about, .parallax-gallery{
	height: 30rem;
	width: auto;
	z-index: 1;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
.parallax-index{
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/real-dynamic-banner-01.jpg);
}
.parallax-about{
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/real-dynamic-banner-02.jpg);
}
.parallax-contact{
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/real-dynamic-banner-04.jpg);
}
.parallax-gallery{
	background-image: url(https://templatemo.com/templates/templatemo_547_real_dynamic/img/real-dynamic-banner-03.jpg);
}
.couleur{
	z-index: 2;
	display: flex;
	max-width: 100%;
	height: auto;
}
h2{
	display: flex;
	justify-content: center;
	color: var(--blue);
	font-weight: 400;
	margin-top: 4rem;
	font-size: 2.6rem;
}
h3{
	color: var(--blue);
}
svg{
	opacity:0.5;
}
.center-content{
	margin-bottom: 8rem;
}
.center-content, .center-content2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	flex-wrap: nowrap;
	padding-right: 2rem;
	padding-left: 2rem;
	color: grey;
}
.center-left-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	flex-wrap: nowrap;
	z-index: 1;
	background-color: var(--light-grey);
	margin-left: 1rem;
	margin-right: 1rem;
	padding-left: 2rem;
	padding-right:2rem;
}
.svg-fond-blanc{
	display: flex;
	justify-content: center;
}
.fond-gris{
		background-color:var(--light-grey);
		padding-bottom: 4rem;
}
.center-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	z-index: 1;	
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 3rem;
}
.lien-contact{
	color:var(--light-blue); 
	text-decoration:none;
}
.lien-contact:hover{
	color: var(--dark-blue);
}
.lien-ancre{
	color:var(--light-blue); 
	text-decoration:none;
	display: flex;
	justify-content: flex-end;
	padding-top: 2rem;	
}
.lien-ancre:hover{
	color:var(--grey);
}
.bouton-ancre-vert{
	z-index: 1;
	background-color:var(--green);
}
.bouton-ancre-vert:hover{
	background-color: var(--dark-green)
}
.bouton-ancre-violet{
	z-index: 1;
	background-color:var(--purple);
}
.bouton-ancre-violet:hover{
	background-color: var(--dark-purple);
}

.bouton-ancre-vert, .bouton-ancre-violet{
	text-decoration: none;
	color: white; 
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: center;
}
.p-index{
	margin-bottom: 2rem;
}
.p-abt-dynamic{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	padding-left: 16rem;
	padding-right: 16rem;
	color: grey;
}
.p-contact-dynamic{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	padding-left: 16rem;
	padding-right: 16rem;
	color: grey;
	font-size: 1.15rem;
}
.bdp{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;
}
.ancre{
	color: grey;
	text-decoration: none;
}
.ancre:hover{
	color: var(--blue);
}
.text-abt-RD{
	color: grey;
}
footer{
	margin-top: 5rem;
	color: grey;
	display: flex;
	justify-content: center;
	padding-bottom: 2rem;
}
.link-footer{
	color: grey;
	text-decoration: none;
}
.link-footer:hover{
	color: var(--blue);
}
.about-main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: grey;
}
.Company-Bckgrnd{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.Business-Strategy{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.BS1, .BS2, .BS3{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.svg-abt{
	margin-right: 2rem;
	padding-left: 2rem;
}
.title-BS{
	padding-left: 5rem;
}
.img-company-background{
	margin-bottom: 2rem;
}
.abt-team-members{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10rem; 
}
.mbr-job{
	display: flex;
	color: var(--blue);
	font-size: 1.3rem; 
	justify-content: center;
}
.mbr-name{
	display: flex;
	font-size: 1.2rem;
	justify-content: center;
	margin-bottom: 1.3rem;
	padding-top: 1rem;
}
.h-abt-team{
	font-size: 2rem;
	margin-bottom: 2rem;
}
i{
	color: var(--light-grey);
	padding: 0.5rem;
}
i:hover{
	color: var(--blue);
}
.list-contact{
	list-style-type: none;
}
form{
	color: var(--grey);
}
.li-contact{
	margin-bottom: 2rem; 
}
.contact-center-content{
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem;
}
.contact-map{
	width: 20rem;
}
.contact-form{
	padding-left: 3rem;
	width: 50%;
	justify-content: center;
}
.p-map{
	font-size: 1.15rem;
	display: flex;
	flex-wrap: wrap;
	color: var(--grey);
}
textarea{
	padding-top: 3rem;
	height: 8rem;
	width: 20rem;
}
.bouton-form{
	margin-left: 25rem;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 1.3rem;
	padding-top: 1.3rem;
	text-decoration: none;
	color: white;
	background-color: var(--blue);
}
.bouton-form:hover{
	background-color: var(--light-blue);
}